attrs==21.2.0
backcall==0.2.0
base58==2.1.0
bitarray==1.2.2
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
cytoolz==0.11.0
decorator==5.0.9
eth-abi==2.1.1
eth-account==0.5.4
eth-hash==0.3.1
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.10.0
hexbytes==0.2.1
idna==2.10
importlib-metadata==4.0.1
ipfshttpclient==0.7.0a1
ipykernel==5.5.5
ipython==7.23.1
ipython-genutils==0.2.0
jedi==0.18.0
jsonschema==3.2.0
jupyter-client==6.2.0
jupyter-core==4.7.1
lru-dict==1.1.7
matplotlib-inline==0.1.2
multiaddr==0.0.9
nest-asyncio==1.5.1
netaddr==0.8.0
parsimonious==0.8.1
parso==0.8.2
pickleshare==0.7.5
prompt-toolkit==3.0.18
protobuf==3.17.0
pycryptodome==3.10.1
Pygments==2.9.0
pyrsistent==0.17.3
python-dateutil==2.8.1
pywin32==300
pyzmq==22.0.3
requests==2.25.1
rlp==2.0.1
six==1.16.0
toolz==0.11.1
tornado==6.1
traitlets==5.0.5
typing-extensions==3.10.0.0
urllib3==1.26.4
varint==1.0.2
wcwidth==0.2.5
web3==5.19.0
websockets==8.1
zipp==3.4.1
